In [2]:
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
print('Libraries imported.')

Libraries imported.

In [3]:
# Read in the data 
df = pd.read_csv("index-crimes-by-county-and-agency-beginning-1990.csv")

In [4]:
# View the top rows of the dataset
df.head()

,County,Agency,Year,Months Reported,Index Total,Violent Total,Murder,Rape,Robbery,Aggravated Assault,Property Total,Burglary,Larceny,Motor Vehicle Theft,Region
0,Dutchess,Red Hook Vg PD,2004,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Non-New York City
1,Steuben,Steuben County Sheriff,2017,12.0,115.0,23.0,0.0,8.0,0.0,15.0,92.0,25.0,64.0,3.0,Non-New York City
2,Nassau,Lynbrook Vg PD,2015,12.0,159.0,11.0,0.0,1.0,3.0,7.0,148.0,20.0,119.0,9.0,Non-New York City
3,Schoharie,Schoharie PCT (NYC-DEPP),2003,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Non-New York City
4,Chautauqua,Chautauqua County Sheriff,2016,12.0,642.0,51.0,0.0,17.0,6.0,28.0,591.0,182.0,387.0,22.0,Non-New York City

In [5]:
df['Year'].value_counts()

2003    749
2004    749
2005    749
2006    749
2007    738
1990    720
1991    720
1994    720
1995    716
1997    710
1996    706
1992    704
1993    691
1998    685
2002    683
2008    679
2011    663
2001    663
1999    660
2012    659
2010    658
2009    656
2013    656
2000    654
2014    653
2016    649
2015    647
2017    638
Name: Year, dtype: int64

In [6]:
df['County'].unique()

array(['Dutchess', 'Steuben', 'Nassau', 'Schoharie', 'Chautauqua', 'Erie',
       'Suffolk', 'Franklin', 'Westchester', 'St Lawrence', 'Orange',
       'Otsego', 'Onondaga', 'Chemung', 'Sullivan', 'Ontario', 'Albany',
       'Columbia', 'Genesee', 'Lewis', 'Niagara', 'Livingston',
       'Rensselaer', 'Washington', 'Hamilton', 'Region Total', 'Wayne',
       'Saratoga', 'Allegany', 'Rockland', 'Essex', 'Herkimer', 'Cayuga',
       'Ulster', 'Putnam', 'Montgomery', 'Greene', 'Seneca', 'Broome',
       'Kings', 'Chenango', 'Orleans', 'Clinton', 'Oneida', 'Fulton',
       'Schenectady', 'Madison', 'Tompkins', 'Oswego', 'Jefferson',
       'Monroe', 'Schuyler', 'Cattaraugus', 'Warren', 'Cortland', 'Yates',
       'Delaware', 'Wyoming', 'Tioga', 'New York', 'Queens', 'Bronx',
       'Richmond'], dtype=object)

In [7]:
df[df.County == 'New York']
df.head()

,County,Agency,Year,Months Reported,Index Total,Violent Total,Murder,Rape,Robbery,Aggravated Assault,Property Total,Burglary,Larceny,Motor Vehicle Theft,Region
0,Dutchess,Red Hook Vg PD,2004,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Non-New York City
1,Steuben,Steuben County Sheriff,2017,12.0,115.0,23.0,0.0,8.0,0.0,15.0,92.0,25.0,64.0,3.0,Non-New York City
2,Nassau,Lynbrook Vg PD,2015,12.0,159.0,11.0,0.0,1.0,3.0,7.0,148.0,20.0,119.0,9.0,Non-New York City
3,Schoharie,Schoharie PCT (NYC-DEPP),2003,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Non-New York City
4,Chautauqua,Chautauqua County Sheriff,2016,12.0,642.0,51.0,0.0,17.0,6.0,28.0,591.0,182.0,387.0,22.0,Non-New York City